@use '_variables';

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: variables.$text-color;
}

section {
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

